.navbar-default(ng-controller="navCtrl")
    ul.nav.navbar-nav
        li(ng-hide="identity.isAuthenticated()")
            a(href="#/signin") Login
        li
            a(href="#/jobs") Jobs
        li(ng-show="identity.isUser()")
            a(href="#/myApplyings") My Applyings
        li
            a(href="#/events") Events
        li(ng-show="identity.isCompany()")
            a(href="#/applyings") Applyings
        li(ng-show="identity.isCompany()")
            a(href="#/myPositions") My Positions
        li
            a(href="#/contests") Contests
        li
            a(href="#/news") News
        li
            a(href="#/faq") FAQ
        li(ng-show="identity.isAuthenticated()")
            a(href="#/profile") profile
        li.dropdown(ng-show="identity.isAuthenticated()")
            a.dropdown-toggle(href="" data-toggle="dropdown") {{identity.currentUser.username}}
                span.caret
            ul.dropdown-menu
                li
                    a(href="#" ng-click="logout()") Logout
