extends includes/layout
block main-content
    header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") Job-Finder
            .navbar-collapse.collapse
                div(ng-include="'/partials/nav/nav'")
    section
        div(ng-view)

    footer
        p.text-center
            | &copy; Job Finder